

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Library Information System</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="landing">
          <img src="images\mssu.png" height="60" class="d-inline-block align-top" alt="">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="landing">LANDING PAGE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link external-link" href="administration">ADMINISTRATION</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link external-link" href="circulation">CIRCULATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link external-link" href="reference">REFERENCE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link external-link" href="https://www.mssu.edu/business-affairs/information-technology/">IT PORTAL</a>
          </li>
          <li>
            <form action="/logout?_method=DELETE" method="POST">
            <button class="btn btn-primary" type="submit">Logout </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container text-center">
  
    <div class="text-center" style="padding: 30px;">
      <h3>Circulation</h3>
      <p>Check-out, Check-in, Renew Materials</p>
    </div>

    <h4>Bring up Active Patron</h2>
    <p>Scan/enter a patron ID to: Check-Out Materials to Patron, View/Renew Items Checked-Out by a Patron, View Patron Fine Details</p>
  
    <div class="row input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Scan/Enter Patron ID</span>
      </div>
      <input type="text" class="form-control">
    </div>

    <div class="row" style="padding: 10px">
      <div class="col"><button type="button" class="btn btn-primary btn-lg btn-block">Bring up Account</button></div>
    </div>

    <h4 style="padding-top: 25px;">Quick Check-In</h2>
    <p>Scan/enter a material barcode to quickly check-in.</p>

    <div class="row input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Scan/Enter Item Barcode</span>
      </div>
      <input type="text" class="form-control">
    </div>

    <div class="row" style="padding: 10px">
      <div class="col"><button type="button" class="btn btn-primary btn-lg btn-block">Check-In</button></div>
    </div>

    <h4 style="padding-top: 25px;">Quick Check-Out to Patron</h2>
    <p>Scan/enter a material barcode and a patron ID to quickly check-out.</p>

    <form id="checkout-form" method="POST" action="circulation/1/1">
    <div class="row input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" >Scan/Enter Patron ID</span>
      </div>
      <input id="patronIdInput" name="patronIdInput" type="number" class="form-control" required="">

      <div class="input-group-prepend">
        <span class="input-group-text" >Scan/Enter Item Barcode</span>
      </div>
      <input type="number" id="itemIdInput" name="itemIdInput" class="form-control" required="">
    </div>

    <div class="row" style="padding: 10px">
          <div class="col"><button type="submit" id="check-out-submit" value="submit" class="btn btn-primary btn-lg btn-block">Check-Out To Patron</button></div>
    </div>
    </form>
  
  </div>
  
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript">
  $(document).ready(() => {
    $('#checkout-form').submit((event) => {
      var e = event;
      e.preventDefault(e);
      var accountId = $('#patronIdInput').val();
      var itemId = $('#itemIdInput').val();
      $.ajax ({
        url:'circulation/'+accountId+'/'+itemId+'/',
        type: 'GET',
        dataType: 'json',
        success: (data) => {
          console.log(data);
          console.log(`${data[0]} , ${data[1]}`);
          if (data[0] == false || data[1] == false) {
            if (data[0] == false) {
              e.preventDefault(e);
              alert("Could Not find Account");
              $('#patronIdInput').select();

            }
            if (data[1] == false) {
              e.preventDefault(e);
              alert("Could not find Item");
              $('#itemIdInput').select();
            }
          }
          else{
            $('#checkout-form').attr('action', 'circulation/'+accountId+'/'+itemId+'/');
            $('#checkout-form').unbind('submit').submit();

          }


        }
      });
    });
  });
</script><script type="text"

</body>
