

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Library Information System</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="landing">
          <img src="images\mssu.png" height="60" class="d-inline-block align-top" alt="">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="landing">LANDING PAGE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link external-link" href="administration">ADMINISTRATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link external-link" href="circulation">CIRCULATION</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link external-link" href="reference">REFERENCE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link external-link" href="itportal">IT PORTAL</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
 <div class="container">

      <div class="col-lg-12 text-center" style="padding: 30px">
          <h3>Reference</h3>
          <p>Search for items.</p>
          <!-- Search form -->
          <div class="input-group mb-3">

              <select class="form-control">
                  <option>Book</option>
                  <option>DVD</option>
                  <option>Periodical</option>
              </select>
              <!-- Search box -->
              <div class="input-group col-sm-8">
                  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
              </div>

          </div>
      </div>

      <div class="row" style="padding: 10px">
          <div class="col"><button type="button" class="btn btn-primary btn-lg btn-block">Search</button></div>
          <div class="col"><button type="button" class="btn btn-primary btn-lg btn-block">View Details</button></div>
      </div>

      <div class="col-lg-12 text-center" style="padding: 10px">
          <h3>Table Area</h3>
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th scope="col">S#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Address</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th scope="row">00000000</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>Address, Or Something, USA</td>
                  </tr>
              </tbody>
          </table>

          <h3>Table Area</h3>
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Title</th>
                      <th scope="col">Barcode</th>
                      <th scope="col">Due Date</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th scope="row">1</th>
                      <td>Title</td>
                      <td>00000000</td>
                      <td>12/12/2020</td>
                  </tr>
              </tbody>
          </table>

      </div>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

